div.title {
  margin: auto;
  width: 50%;
  padding: 10px;
}

img B {
  align: right;
  width: 100px;
  height: 500px;
}

img {
  align: right;
  width: 100px;
  height: 500px;
}

img {
  align: right;
  width: 100px;
  height: 500px;
}
